<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evo Tour</title>
    <script
      src="https://kit.fontawesome.com/91fe53bdda.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/tour_khuyen_mai.css" />
    <link rel="stylesheet" href="./css/contact.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-top">
          <div class="header-logo">
            <a href="index.html"><img src="./images/logo.png" alt="" /></a>
          </div>
          <form action="" method="post" class="header-searchs">
            <div class="header-search">
              <input type="text" />
              <button type="submit">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </div>
          </form>
          <div class="header-user">
            <div class="evo-acount">
              <a href="#">
                <ion-icon name="person-outline" class="person"></ion-icon>
                <span>Tài khoản</span>
              </a>
              <ul>
                <li>
                  <a href="#">Đăng nhập</a>
                </li>
                <li>
                  <a href="#">Đăng ký</a>
                </li>
              </ul>
            </div>
            <div class="evo-heart">
              <a href="#">
                <ion-icon name="heart-outline" class="heart"></ion-icon>
                <span>Yêu thích</span>
                <span class="quantity-icon">0</span>
              </a>
              <div class="top-wish-list-content">
                <div class="added-products">
                  <span class="favorites-message">
                    Những tour thích <span class="favorites-count">(0)</span>
                  </span>
                  <div class="wish-list-small">
                    <div class="emty-description">
                      <span class="emty-icon">
                        <i class="ico ico-favorite-heart"></i>
                      </span>
                      <div class="emty-text">
                        <h3>
                          Tour nào của chúng tôi bạn mong muốn sở hữu nhất?
                        </h3>
                        <p>Hãy thêm vào danh sách Tour yêu thích ngay nhé!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#">
              <ion-icon name="cart-outline" class="cart"></ion-icon>
              <span class="quantity-icon">0</span>
            </a>
          </div>
        </div>
      </div>
      <div class="header-menu">
        <div class="container">
          <ul class="menu">
            <li class="menu-item">
              <a href="index.html" class="menu-link">TRANG CHỦ</a>
            </li>
            <li class="menu-item">
              <a href="about.html" class="menu-link">GIỚI THIỆU</a>
            </li>
            <li class="menu-item">
              <a href="tour_du_lich.html" class="menu-link">TOUR DU LỊCH</a>
              <!-- <div class="menu-mega">
                <ul class="menu-child">
                  <li class="menu-child-item">
                    <a href="#" class="menu-child-title">Tour trong nước</a>
                    <div class="">
                      <ul>
                        <li class="">
                          <a href="#">Miền Bắc</a>
                          <ul>
                            <li><a href="#">Sapa</a></li>
                            <li><a href="#">Hà Giang</a></li>
                            <li><a href="#">Cao Bằng - Bắc Kạn</a></li>
                            <li><a href="#">Mai Châu - Mộc Châu</a></li>
                            <li><a href="#">Yên Bái</a></li>
                            <li><a href="#">Ninh Bình</a></li>
                            <li><a href="#">Hạ Long</a></li>
                            <li><a href="#">Cát Bà</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div> -->
            </li>
            <li class="menu-item">
              <a href="tour_khuyen_mai.html" class="menu-link">
                TOUR KHUYẾN MÃI
              </a>
            </li>
            <li class="menu-item">
              <a href="tin_tuc.html" class="menu-link"
                >TIN TỨC & KINH NGHIỆM DU LỊCH</a
              >
            </li>
            <li class="menu-item">
              <a href="FAQ.html" class="menu-link">FAQ</a>
            </li>
            <li class="menu-item">
              <a href="contact.html" class="menu-link active">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="bread-crumb">
      <div class="container">
        <ul>
          <li>
            <a href="index.html">Trang chủ</a>
          </li>
          <li class="cheo">/</li>
          <li>Liên hệ</li>
        </ul>
      </div>
    </section>
    <section class="contacts">
      <div class="container">
        <div class="contact">
          <div class="contact-1">
            <h3>Hỗ trợ dịch vụ Tour</h3>
            <div class="contact-item">
              <div class="contact-box">
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20px"
                    viewBox="-61 0 443 443.288"
                    width="20px"
                  >
                    <path
                      d="m96.144531 136v88h32v-56c0-4.417969 3.582031-8 8-8h48c4.417969 0 8 3.582031 8 8v56h32v-88c0-4.417969 3.582031-8 8-8h8.480469l-80.480469-61.902344-80.480469 61.902344h8.480469c4.417969 0 8 3.582031 8 8zm0 0"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                    <path
                      d="m144.144531 176h32v48h-32zm0 0"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                    <path
                      d="m160.144531 443.289062c30.101563-37.585937 160-204.328124 160-283.289062 0-88.367188-71.636719-160-160-160-88.367187 0-160 71.632812-160 160 0 78.976562 129.894531 245.710938 160 283.289062zm-108.878906-313.601562 104-80c2.875-2.214844 6.882813-2.214844 9.757813 0l104 80c2.691406 2.097656 3.757812 5.667969 2.65625 8.894531-1.097657 3.226563-4.125 5.402344-7.535157 5.417969h-24v88c0 4.417969-3.582031 8-8 8h-144c-4.417969 0-8-3.582031-8-8v-88h-24c-3.421875 0-6.464843-2.179688-7.570312-5.421875-1.101563-3.242187-.019531-6.824219 2.691406-8.914063zm0 0"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                  </svg>
                </div>
                <div class="content">
                  <p>70 Lu Gia, Ward 15, District 11, Ho Chi Minh City</p>
                </div>
              </div>
              <div class="contact-box">
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 480.56 480.56"
                    style="enable-background: new 0 0 480.56 480.56"
                    xml:space="preserve"
                    width="20px"
                    height="20px"
                  >
                    <path
                      d="M365.354,317.9c-15.7-15.5-35.3-15.5-50.9,0c-11.9,11.8-23.8,23.6-35.5,35.6c-3.2,3.3-5.9,4-9.8,1.8    c-7.7-4.2-15.9-7.6-23.3-12.2c-34.5-21.7-63.4-49.6-89-81c-12.7-15.6-24-32.3-31.9-51.1c-1.6-3.8-1.3-6.3,1.8-9.4    c11.9-11.5,23.5-23.3,35.2-35.1c16.3-16.4,16.3-35.6-0.1-52.1c-9.3-9.4-18.6-18.6-27.9-28c-9.6-9.6-19.1-19.3-28.8-28.8    c-15.7-15.3-35.3-15.3-50.9,0.1c-12,11.8-23.5,23.9-35.7,35.5c-11.3,10.7-17,23.8-18.2,39.1c-1.9,24.9,4.2,48.4,12.8,71.3    c17.6,47.4,44.4,89.5,76.9,128.1c43.9,52.2,96.3,93.5,157.6,123.3c27.6,13.4,56.2,23.7,87.3,25.4c21.4,1.2,40-4.2,54.9-20.9    c10.2-11.4,21.7-21.8,32.5-32.7c16-16.2,16.1-35.8,0.2-51.8C403.554,355.9,384.454,336.9,365.354,317.9z"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                    <path
                      d="M346.254,238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89c-25.7-25.7-58.2-41.9-94-46.9l-5.2,37.1    c27.7,3.9,52.9,16.4,72.8,36.3C329.454,188.2,341.754,212,346.254,238.2z"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                    <path
                      d="M403.954,77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2,37.1c51.4,7.2,98,30.5,134.8,67.2c34.9,34.9,57.8,79,66.1,127.5    l36.9-6.3C470.854,169.3,444.354,118.3,403.954,77.8z"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#1ba0e2"
                    ></path>
                  </svg>
                </div>
                <div class="content">
                  <a href="tel:19006750">1900 6750</a>
                </div>
              </div>
              <div class="contact-box">
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 437.676 437.676"
                    style="enable-background: new 0 0 437.676 437.676"
                    xml:space="preserve"
                    width="20px"
                    height="20px"
                    class=""
                  >
                    <polygon
                      points="218.841,256.659 19.744,81.824 417.931,81.824  "
                      data-original="#010002"
                      class="active-path"
                      data-old_color="#010002"
                      fill="#1ba0e2"
                    ></polygon>
                    <polygon
                      points="139.529,218.781 0,341.311 0,96.252  "
                      data-original="#010002"
                      class="active-path"
                      data-old_color="#010002"
                      fill="#1ba0e2"
                    ></polygon>
                    <polygon
                      points="157.615,234.665 218.841,288.427 280.055,234.665 418.057,355.852 19.619,355.852  "
                      data-original="#010002"
                      class="active-path"
                      data-old_color="#010002"
                      fill="#1ba0e2"
                    ></polygon>
                    <polygon
                      points="298.141,218.787 437.676,96.252 437.676,341.311  "
                      data-original="#010002"
                      class="active-path"
                      data-old_color="#010002"
                      fill="#1ba0e2"
                    ></polygon>
                  </svg>
                </div>
                <div class="content">
                  <a href="mailto:lequy11082003@gmail.com">
                    supportevotour@evotour.vn
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-bottom">
            <div class="contact-2">
              <p>
                Evo Tour được các du khách trong nước và quốc tế biết đến là một
                Công ty tin cậy về chất lượng cũng như dịch vụ hoàn hảo. Chúng
                tôi chuyên tổ chức các tour du lịch quốc tế, nội địa, cũng như
                tổ chức cho các cơ quan đoàn thể đi tham quan, học tập, nghiên
                cứu, khảo sát thị trường, hội nghị, hội thảo trong nước và ngoài
                nước.
              </p>
            </div>
            <div class="contact-3">
              <form action="" method="post" class="contact-form">
                <div class="form-group">
                  <label for="">Họ và tên<span class="required">*</span></label>
                  <input
                    placeholder="Nhập họ và tên"
                    type="text"
                    name=""
                    id=""
                    class="form-control error"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Email<span class="required">*</span></label>
                  <input
                    placeholder="Nhập địa chỉ email"
                    type="email"
                    name=""
                    id=""
                    class="form-control error"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for=""
                    >Điện thoại<span class="required">*</span></label
                  >
                  <input
                    placeholder="Nhập địa số điện thoại"
                    type="text"
                    name=""
                    id=""
                    class="form-control error"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <label for="">Nội dung<span class="required">*</span></label>
                  <textarea
                    name=""
                    id=""
                    cols="100%"
                    rows="6"
                    placeholder="Nội dung liên hệ"
                    class="form-control"
                  ></textarea>
                </div>
                <button type="submit" class="contact-btn">GỬI TIN NHẮN</button>
              </form>
            </div>
          </div>
        </div>
        <div class="contact-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4494887880405!2d105.82037025066407!3d21.014693493565126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4af6d63165%3A0x47eef0affa3f8544!2sThi%20Cafe!5e0!3m2!1svi!2s!4v1667813969485!5m2!1svi!2s"
            width="100%"
            height="300"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
    <footer>
      <div class="subscribe-areas">
        <div class="container">
          <div class="subscribe-area">
            <div class="subscribe-area1">
              <ul class="social">
                <li class="fb">
                  <a href="facebook.com" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li class="tw">
                  <a href="twitter.com" target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
                <li class="yt">
                  <a href="youtube.com" target="_blank"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                </li>
                <li class="ins">
                  <a href="instagram.com" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="subscribe-area2">
              <h2>ĐĂNG KÝ NHẬN TIN</h2>
              <p>Các deal du lịch giảm giá đến 60% sẽ được gửi đến bạn</p>
            </div>
            <div class="subscribe-area3">
              <form action="" class="subscribe-form" method="post">
                <div class="subscribe-email">
                  <input type="text" required placeholder="Địa chỉ Email" />
                  <button type="submit">Đăng ký</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="container">
          <div class="footer-main">
            <div class="footer-left">
              <a href="index.html" class="footer-logo">
                <img src="./images/fot_logo.png" alt="" />
              </a>
              <ul class="footer-contact-info">
                <li>
                  <span>Địa chỉ:</span>
                  70 Lu Gia, Ward 15, District 11, Ho Chi Minh City
                </li>
                <li>
                  <span>Email:</span>
                  <a href="mailto:lequy11082003@gmail.com">
                    supportevotour@evotour.vn
                  </a>
                </li>
                <li>
                  <span>Điện thoại:</span>
                  <a href="tel:0867717002">1900 6750</a>
                </li>
                <li>
                  <span>Zalo:</span>
                  <a href="https://chat.zalo.me/">1900 6750</a>
                </li>
                <li>
                  Giấy phép kinh doanh số 0000000000 do sở KH&ĐT TP Hà Nội cấp
                  ngày 00/00/0000
                </li>
              </ul>
              <div class="footer-payment">
                <img src="./images/payment_1.svg" alt="" />
                <img src="./images/payment_2.svg" alt="" />
                <img src="./images/payment_4.svg" alt="" />
                <img src="./images/payment_5.svg" alt="" />
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-right-item">
                <h3>Evo Tour</h3>
                <ul class="footer-quick-links">
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="#">Giới thiệu</a></li>
                  <li><a href="#">Tour du lịch</a></li>
                  <li><a href="#">Tour khuyến mãi</a></li>
                  <li><a href="#">Tin tức</a></li>
                  <li><a href="#">Kinh nghiệm du lịch</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Miền Bắc</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Sapa</a></li>
                  <li><a href="#">Hà Giang</a></li>
                  <li><a href="#">Cao Bằng - Bắc Kan</a></li>
                  <li><a href="#">Mai Châu - Mộc Châu</a></li>
                  <li><a href="#">Yên Bái</a></li>
                  <li><a href="#">Ninh Bình</a></li>
                  <li><a href="#">Hạ Long</a></li>
                  <li><a href="#">Cát Bà</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Miền Nam</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Phú Quốc</a></li>
                  <li><a href="#">Côn Đảo</a></li>
                  <li><a href="#">Bến Tre</a></li>
                  <li><a href="#">Cần Thơ</a></li>
                  <li><a href="#">Cà Mau</a></li>
                  <li><a href="#">Hà Tiên</a></li>
                  <li><a href="#">Kiên Giang</a></li>
                  <li><a href="#">Nam Du</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Quốc Tế</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Đông Nam Á</a></li>
                  <li><a href="#">Đông Bắc Á</a></li>
                  <li><a href="#">Ấn Độ - Nam Á</a></li>
                  <li><a href="#">Châu Âu</a></li>
                  <li><a href="#">Châu Úc</a></li>
                  <li><a href="#">Châu Phi</a></li>
                  <li><a href="#">Châu Mỹ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
