<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evo Tour</title>
    <script
      src="https://kit.fontawesome.com/91fe53bdda.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/tour_khuyen_mai.css" />
    <link rel="stylesheet" href="./css/tin_tuc.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-top">
          <div class="header-logo">
            <a href="index.html"><img src="./images/logo.png" alt="" /></a>
          </div>
          <form action="" method="post" class="header-searchs">
            <div class="header-search">
              <input type="text" />
              <button type="submit">
                <ion-icon name="search-outline"></ion-icon>
              </button>
            </div>
          </form>
          <div class="header-user">
            <div class="evo-acount">
              <a href="#">
                <ion-icon name="person-outline" class="person"></ion-icon>
                <span>Tài khoản</span>
              </a>
              <ul>
                <li>
                  <a href="#">Đăng nhập</a>
                </li>
                <li>
                  <a href="#">Đăng ký</a>
                </li>
              </ul>
            </div>
            <div class="evo-heart">
              <a href="#">
                <ion-icon name="heart-outline" class="heart"></ion-icon>
                <span>Yêu thích</span>
                <span class="quantity-icon">0</span>
              </a>
              <div class="top-wish-list-content">
                <div class="added-products">
                  <span class="favorites-message">
                    Những tour thích <span class="favorites-count">(0)</span>
                  </span>
                  <div class="wish-list-small">
                    <div class="emty-description">
                      <span class="emty-icon">
                        <i class="ico ico-favorite-heart"></i>
                      </span>
                      <div class="emty-text">
                        <h3>
                          Tour nào của chúng tôi bạn mong muốn sở hữu nhất?
                        </h3>
                        <p>Hãy thêm vào danh sách Tour yêu thích ngay nhé!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#">
              <ion-icon name="cart-outline" class="cart"></ion-icon>
              <span class="quantity-icon">0</span>
            </a>
          </div>
        </div>
      </div>
      <div class="header-menu">
        <div class="container">
          <ul class="menu">
            <li class="menu-item">
              <a href="index.html" class="menu-link">TRANG CHỦ</a>
            </li>
            <li class="menu-item">
              <a href="about.html" class="menu-link">GIỚI THIỆU</a>
            </li>
            <li class="menu-item">
              <a href="tour_du_lich.html" class="menu-link">TOUR DU LỊCH</a>
              <!-- <div class="menu-mega">
                <ul class="menu-child">
                  <li class="menu-child-item">
                    <a href="#" class="menu-child-title">Tour trong nước</a>
                    <div class="">
                      <ul>
                        <li class="">
                          <a href="#">Miền Bắc</a>
                          <ul>
                            <li><a href="#">Sapa</a></li>
                            <li><a href="#">Hà Giang</a></li>
                            <li><a href="#">Cao Bằng - Bắc Kạn</a></li>
                            <li><a href="#">Mai Châu - Mộc Châu</a></li>
                            <li><a href="#">Yên Bái</a></li>
                            <li><a href="#">Ninh Bình</a></li>
                            <li><a href="#">Hạ Long</a></li>
                            <li><a href="#">Cát Bà</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div> -->
            </li>
            <li class="menu-item">
              <a href="tour_khuyen_mai.html" class="menu-link">
                TOUR KHUYẾN MÃI
              </a>
            </li>
            <li class="menu-item">
              <a href="tin_tuc.html" class="menu-link active"
                >TIN TỨC & KINH NGHIỆM DU LỊCH</a
              >
            </li>
            <li class="menu-item">
              <a href="FAQ.html" class="menu-link">FAQ</a>
            </li>
            <li class="menu-item">
              <a href="contact.html" class="menu-link">LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="bread-crumb">
      <div class="container">
        <ul>
          <li>
            <a href="index.html">Trang chủ</a>
          </li>
          <li class="cheo">/</li>
          <li>Tất cả tin tức và kinh nghiệm du lịch</li>
        </ul>
      </div>
    </section>
    <section class="list-blogs">
      <div class="container">
        <div class="list-blog">
          <div class="newslist">
            <div class="newslist-top">
              <div class="later-news-big">
                <div class="news-image">
                  <a href="#">
                    <img
                      src="./images/patrick-adcock-QG2ndAiyQ38-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3>
                  <a href="#"
                    >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                    “sập” Đà thành</a
                  >
                </h3>
                <figure>
                  Đà Nẵng có cả núi, đồng bằng và biển, chỉ nằm cách Hội An 30
                  km. Bao quanh bởi hàng loạt điểm tham quan du lịch cũng như
                  danh lam thắng cảnh nổi tiếng nên không khó hiểu vì sao nơi
                  đây lại thu hút khách du lịch đến vậy. Dưới đây, Traveloka sẽ
                  mang đến cho các bạn một “cuốn” cẩm nang du lịch Đà Nẵng một
                  ngày đầy ắp những gợi ý cho chuyến đi hoàn hảo, cùng nhóm bạn
                  “tái tạo” lại năng lượng để quay về học tập – làm việc nhé!
                </figure>
              </div>
              <ul class="later-news">
                <li class="later-news-middle">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                      class="later-news-middle-img"
                    />
                  </a>
                  <h3>
                    <a href="#">
                      Bí quyết du lịch Đà Lạt tự túc giá rẻ để xách túi và đi
                      ngay không cần suy nghĩ
                    </a>
                  </h3>
                </li>
                <li class="list-small">
                  <h3>
                    <a href="#">
                      Vui chơi thả ga cùng bạn bè tại Phan Thiết với cẩm nang du
                      lịch chi tiết này
                    </a>
                  </h3>
                </li>
                <li class="list-small">
                  <h3>
                    <a href="#">
                      Bỏ túi ngay 8 ứng dụng du lịch không thể thiếu này nếu bạn
                      là kẻ hay “xê dịch”
                    </a>
                  </h3>
                </li>
                <li class="list-small">
                  <h3>
                    <a href="#">
                      Vạn vật phía Bắc sắp bừng tỉnh trong xuân mới, đi đâu để
                      “mở hàng” năm mới thật may mắn đây?
                    </a>
                  </h3>
                </li>
              </ul>
            </div>
            <div class="blogs">
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-item-img">
                  <a href="#">
                    <img
                      src="./images/ashutosh-saraswat-CXyz3qljaH8-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <h3 class="blog-item-title">
                  <a href="#"
                    >Nắm trong tay cách di chuyển từ sân bay Narita và trung tâm
                    thủ đô Tokyo như người bản xứ</a
                  >
                </h3>
                <p class="blog-item-desc">
                  Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng và khá
                  phức tạp. Với những người lần đầu đến xứ sở mặt trời mọc cũng
                  sẽ gặp Hệ thống giao thông tại Nhật Bản phát triển rất đa dạng
                  và khá phức tạp. Với những người lần đầu đến xứ sở mặt trời
                  mọc cũng sẽ gặp
                </p>
              </div>
            </div>
            <div class="slider"></div>
          </div>
          <aside class="sidebar">
            <div class="aside-item collection-category">
              <h3 class="aside-title">DANH MỤC</h3>
              <div class="aside-content">
                <ul class="nav-category">
                  <li class="nav-item">
                    <a href="index.html" class="nav-link">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a href="about.html" class="nav-link">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                    <div class="add">
                      <a href="tour_du_lich.html" class="nav-link">
                        Tour du lịch
                      </a>
                      <ion-icon name="add-outline" id="dropdownmenu"></ion-icon>
                    </div>
                    <ul class="dropdown-menu">
                      <li class="dropdown-submenu nav-item">
                        <div class="add">
                          <a
                            href="#"
                            class="nav-link"
                            style="padding-left: 10px"
                            >Tour trong nước</a
                          >
                          <ion-icon
                            name="add-outline"
                            id="dropdownmenu"
                          ></ion-icon>
                        </div>
                        <ul class="dropdown-menu">
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Miền Bắc</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Sapa</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hà Giang</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Cao Bằng - Bắc Kạn</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Mai Châu - Mộc Châu</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Yên Bái</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Ninh Bình</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hạ Long</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Cát Bà</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Miền Trung</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Cửa Lò</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Sầm Sơn</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Nghệ An</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Thiên Cầm</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Quảng Bình</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Huế</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Đà Nẵng</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hội An</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Nha Trang</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Phú Yên</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Quy Nhơn</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Đà Lạt</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Tây Nguyên</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Phan Thiết - Mũi Né</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Miền Nam</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Phú Quốc</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Côn Đảo</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Bến Tre</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Cần Thơ</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Cà Mau</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hà Tiên</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Kiên Giang</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Nam Du</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu nav-item">
                        <div class="add">
                          <a
                            href="#"
                            class="nav-link"
                            style="padding-left: 10px"
                            >Tour quốc tế</a
                          >
                          <ion-icon
                            name="add-outline"
                            id="dropdownmenu"
                          ></ion-icon>
                        </div>
                        <ul class="dropdown-menu">
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Đông Nam Á</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Singapore</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Malaysia</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Thái Lan</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Campuchia</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Lào</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Indonesia</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Philipines</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Đông Bắc Á</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hàn Quốc</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Đài Loan</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Hồng Kông</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Nhật Bản</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Trung Quốc</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Ấn Độ - Nam Á</a
                              >
                              <ion-icon
                                name="add-outline"
                                id="dropdownmenu"
                              ></ion-icon>
                            </div>
                            <ul class="dropdown-menu">
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Ấn Độ</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Maldives</a
                                >
                              </li>
                              <li class="dropdown-submenu nav-item">
                                <a
                                  href="#"
                                  class="nav-link"
                                  style="padding-left: 30px"
                                  >Tây Tạng</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Châu Âu</a
                              >
                            </div>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Châu Úc</a
                              >
                            </div>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Châu Phi</a
                              >
                            </div>
                          </li>
                          <li class="dropdown-submenu nav-item">
                            <div class="add">
                              <a
                                href="#"
                                class="nav-link"
                                style="padding-left: 20px"
                                >Châu Mỹ</a
                              >
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a href="tour_khuyen_mai.html" class="nav-link"
                      >Tour khuyến mãi</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="tin_tuc.html" class="nav-link">Tin tức</a>
                  </li>
                  <li class="nav-item">
                    <a href="tin_tuc.html" class="nav-link"
                      >Kinh nghiệm du lịch</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="FAQ.html" class="nav-link">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a href="contact.html" class="nav-link">Liên hệ</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="aside-item top-news">
              <h3 class="aside-title">BÀI VIẾT ĐƯỢC YÊU THÍCH</h3>
              <div class="top-new">
                <div class="top-new-img">
                  <a href="#">
                    <img
                      src="./images/yousef-espanioly-DA_tplYgTow-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="top-new-info">
                  <h4>
                    <a href="#"
                      >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                      “sập” Đà thành</a
                    >
                  </h4>
                </div>
              </div>
              <div class="top-new">
                <div class="top-new-img">
                  <a href="#">
                    <img
                      src="./images/yousef-espanioly-DA_tplYgTow-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="top-new-info">
                  <h4>
                    <a href="#"
                      >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                      “sập” Đà thành</a
                    >
                  </h4>
                </div>
              </div>
              <div class="top-new">
                <div class="top-new-img">
                  <a href="#">
                    <img
                      src="./images/yousef-espanioly-DA_tplYgTow-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="top-new-info">
                  <h4>
                    <a href="#"
                      >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                      “sập” Đà thành</a
                    >
                  </h4>
                </div>
              </div>
              <div class="top-new">
                <div class="top-new-img">
                  <a href="#">
                    <img
                      src="./images/yousef-espanioly-DA_tplYgTow-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="top-new-info">
                  <h4>
                    <a href="#"
                      >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                      “sập” Đà thành</a
                    >
                  </h4>
                </div>
              </div>
              <div class="top-new">
                <div class="top-new-img">
                  <a href="#">
                    <img
                      src="./images/yousef-espanioly-DA_tplYgTow-unsplash.jpg"
                      alt=""
                    />
                  </a>
                </div>
                <div class="top-new-info">
                  <h4>
                    <a href="#"
                      >Cẩm nang du lịch Đà Nẵng một ngày cho hội bạn vui chơi
                      “sập” Đà thành</a
                    >
                  </h4>
                </div>
              </div>
            </div>
            <div class="aside-item blog-banner">
              <a href="#">
                <img src="./images/blog_banner.png" alt="" />
              </a>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <footer>
      <div class="subscribe-areas">
        <div class="container">
          <div class="subscribe-area">
            <div class="subscribe-area1">
              <ul class="social">
                <li class="fb">
                  <a href="facebook.com" target="_blank"
                    ><i class="fa-brands fa-facebook-f"></i
                  ></a>
                </li>
                <li class="tw">
                  <a href="twitter.com" target="_blank"
                    ><i class="fa-brands fa-twitter"></i
                  ></a>
                </li>
                <li class="yt">
                  <a href="youtube.com" target="_blank"
                    ><i class="fa-brands fa-youtube"></i
                  ></a>
                </li>
                <li class="ins">
                  <a href="instagram.com" target="_blank"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="subscribe-area2">
              <h2>ĐĂNG KÝ NHẬN TIN</h2>
              <p>Các deal du lịch giảm giá đến 60% sẽ được gửi đến bạn</p>
            </div>
            <div class="subscribe-area3">
              <form action="" class="subscribe-form" method="post">
                <div class="subscribe-email">
                  <input type="text" required placeholder="Địa chỉ Email" />
                  <button type="submit">Đăng ký</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="main-footer">
        <div class="container">
          <div class="footer-main">
            <div class="footer-left">
              <a href="index.html" class="footer-logo">
                <img src="./images/fot_logo.png" alt="" />
              </a>
              <ul class="footer-contact-info">
                <li>
                  <span>Địa chỉ:</span>
                  70 Lu Gia, Ward 15, District 11, Ho Chi Minh City
                </li>
                <li>
                  <span>Email:</span>
                  <a href="mailto:lequy11082003@gmail.com">
                    supportevotour@evotour.vn
                  </a>
                </li>
                <li>
                  <span>Điện thoại:</span>
                  <a href="tel:0867717002">1900 6750</a>
                </li>
                <li>
                  <span>Zalo:</span>
                  <a href="https://chat.zalo.me/">1900 6750</a>
                </li>
                <li>
                  Giấy phép kinh doanh số 0000000000 do sở KH&ĐT TP Hà Nội cấp
                  ngày 00/00/0000
                </li>
              </ul>
              <div class="footer-payment">
                <img src="./images/payment_1.svg" alt="" />
                <img src="./images/payment_2.svg" alt="" />
                <img src="./images/payment_4.svg" alt="" />
                <img src="./images/payment_5.svg" alt="" />
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-right-item">
                <h3>Evo Tour</h3>
                <ul class="footer-quick-links">
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="#">Giới thiệu</a></li>
                  <li><a href="#">Tour du lịch</a></li>
                  <li><a href="#">Tour khuyến mãi</a></li>
                  <li><a href="#">Tin tức</a></li>
                  <li><a href="#">Kinh nghiệm du lịch</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Miền Bắc</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Sapa</a></li>
                  <li><a href="#">Hà Giang</a></li>
                  <li><a href="#">Cao Bằng - Bắc Kan</a></li>
                  <li><a href="#">Mai Châu - Mộc Châu</a></li>
                  <li><a href="#">Yên Bái</a></li>
                  <li><a href="#">Ninh Bình</a></li>
                  <li><a href="#">Hạ Long</a></li>
                  <li><a href="#">Cát Bà</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Miền Nam</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Phú Quốc</a></li>
                  <li><a href="#">Côn Đảo</a></li>
                  <li><a href="#">Bến Tre</a></li>
                  <li><a href="#">Cần Thơ</a></li>
                  <li><a href="#">Cà Mau</a></li>
                  <li><a href="#">Hà Tiên</a></li>
                  <li><a href="#">Kiên Giang</a></li>
                  <li><a href="#">Nam Du</a></li>
                </ul>
              </div>
              <div class="footer-right-item">
                <h3>Tour Quốc Tế</h3>
                <ul class="footer-quick-links">
                  <li><a href="#">Đông Nam Á</a></li>
                  <li><a href="#">Đông Bắc Á</a></li>
                  <li><a href="#">Ấn Độ - Nam Á</a></li>
                  <li><a href="#">Châu Âu</a></li>
                  <li><a href="#">Châu Úc</a></li>
                  <li><a href="#">Châu Phi</a></li>
                  <li><a href="#">Châu Mỹ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="./js/app.js"></script>
  </body>
</html>
